<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transaction Creation</title>
</head>
<body>
	<h1>
		A transaction has been initiated 
	</h1>
	<p>
		Transaction Reference: <%= tx_ref %>
	</p>
</body>
</html>